#container {
  background-image: url(../assets/wallpaper.jpg);
}

#card-form {
  background-color: #ecf0f1;
  margin: auto;
  margin-top: 5em;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 21em;
}

#card-form-sigUp {
  background-color: #ecf0f1;
  margin: auto;
  margin-top: 5em;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 21em;
}

#title {
  color: #2980b9;

  margin-top: 1em;
  text-align: center;
}

.form-control {
  margin-top: 2em;
}

#btn-login {
  width: 100%;
  margin-top: 2em;
  background-color: #2980b9 !important;
}

#btn-sign-up {
  width: 100%;
  margin-top: 2em;
  background-color: #2980b9 !important;
}

#links {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2em;
  margin-bottom: 2em;
}

#links a {
  color: #2980b9;
  text-decoration: none;
}
